@media (max-width: 739px) {
  /* CSS cho màn hình điện thoại */
  .space-bottom {
    margin-bottom: 16px;
  }
  .phone-address-select-group {
    width: 100%;
  }
  .save-info-btn-width {
    width: 45%;
  }
  .search-form-group {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid grey;
  }
  .search-input {
    width: 100%;
  }
  .check-info-btn {
    margin-top: 10px;
    width: 70%;
    padding: 10px;
  }
  .search-result-width {
    width: 77vw;
    padding: 24px;
    max-height: 200px;
  }
}
@media (min-width: 740px) and (max-width: 1023px) {
  /* CSS cho màn hình ipad */
  .search-form-group {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid grey;
  }
  .search-icon {
    margin-right: 6px;
  }
  .phone-address-select-group {
    width: 100%;
  }
  .space-bottom {
    margin-bottom: 16px;
  }
  .save-info-btn-width {
    width: 17%;
  }
  .search-group {
    display: flex;
  }
  .search-input {
    width: 91.666667%;
  }
  .check-info-btn {
    width: 33.333333%;
  }
  .search-result-width {
    //width: 573px;
    //width: 35.813em;
    width: 64vw;
    padding: 24px;
    max-height: 250px;
  }
}
@media (min-width: 1024px) {
  /* CSS cho màn hình máy tính */
  .form-group {
    display: flex;
  }
  .search-form-group {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid grey;
  }
  .search-icon {
    margin-right: 6px;
  }
  .phone-address-select-group {
    width: 50%;
  }
  .save-info-btn-width {
    width: 17%;
  }
  .search-group {
    display: flex;
  }
  .search-input {
    width: 91.666667%;
  }
  .check-info-btn {
    width: 33.333333%;
  }
  .search-result-width {
    width: 863px;
    //width: 45vw;
    padding: 24px;
    max-height: 300px;
  }
}

.old-cus-form-border {
  border: 1px solid grey;
}
.save-info-btn {
  background-color: rgb(34 197 94);
  color: white;
  border-radius: 8px;
  padding: 10px;
  margin-top: 20px;
  cursor: pointer;
}
.search-result-item {
  margin-bottom: 10px;
  cursor: pointer;
  &:hover {
    background-color: #f2f6f4;
  }
}
.search-result {
  //width: 863px;
  //padding: 24px;
  background: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 12px;
  margin-top: -2px;
  border-radius: 8px;
  //max-height: 300px;
  overflow-x: hidden;
  overflow-y: auto;
}
