@use "../abstract/mixins";
@use "../abstract/variables";
@use "../base/typography";

.footer {
    color: variables.$color__white;
    &__list {
        list-style: disc;
        list-style-position: inside;
    }
    &__container {
        padding: 3% 2%;
    }
    &__wrap {
        padding: 16px;
    }
    &__logo {
        margin-block-start: 0;
    }
    &__buffer {
        height: 60px;
    }
}

.social {
    &__list{
        gap: 1em;
        display: flex;
        padding-inline-start: 18px;   
    }
    &__item {
        background-color: variables.$color__white;
        color: variables.$color__black;
        padding: 8px;
        border-radius: 50%;
    }
    &__logo {
        height: 20px;
        width: 20px;
    }
}

.copyright {
    &__container {
        text-align: center;
        padding: 15px 0 0 16px;
    }
    &__separator {
        border-top: 2px solid;
    }
}