@use '../abstract/variables';
@use '../abstract/mixins';

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

h5 {
    font-family: "Manrope", serif;
    font-size: 16px !important;
    font-weight: 700 !important;
}